@import "tailwindcss";

@theme {
  --color-card-bg: #FDFBF5;
  --color-invite-green: #006A4E;
  --color-invite-red: #A42A28;
  --color-invite-blue: #001F5B;
  --color-invite-border-red: #CB4335;
  --font-family-sans: var(--font-edu), cursive;
}